Django
djangorestframework
djangorestframework-simplejwt
requests
reportlab
matplotlib
python-dotenv
gunicorn
whitenoise
dj-database-url
psycopg2-binary
google-generativeai
groq
paystack
openpyxl
qrcode
Pillow
sentry-sdk
drf-spectacular
