{% extends "base_login.html" %}
{% load static %}

{% block content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="message-box {% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username</label>
        <input id="id_username" name="username" type="text" required autocomplete="username" />
    </div>
    <div class="form-group">
        <label for="id_password">Password</label>
        <input id="id_password" name="password" type="password" required autocomplete="current-password" />
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
{% endblock %}

