{% extends "base_login.html" %}

{% block content %}
<form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username</label>
        <input id="id_username" name="username" type="text" required autocomplete="username" />
    </div>
    <div class="form-group">
        <label for="id_password">Password</label>
        <input id="id_password" name="password" type="password" required autocomplete="current-password" />
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
<p class="login-link">
    Register your school? <a href="{% url 'school_register' %}" class="content-link">Register here</a>
</p>
{% endblock %}

