{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4>Add New Alumni</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">First Name</label>
                                <input type="text" name="first_name" class="form-control" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Last Name</label>
                                <input type="text" name="last_name" class="form-control" required>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Admission Number</label>
                                <input type="text" name="admission_number" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Class</label>
                                <input type="text" name="class_name" class="form-control">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Graduation Year</label>
                                <input type="number" name="graduation_year" class="form-control" required min="2000" max="2100">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Current Occupation</label>
                                <input type="text" name="current_occupation" class="form-control">
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Current Institution</label>
                            <input type="text" name="current_institution" class="form-control">
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Phone</label>
                                <input type="tel" name="contact_phone" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" name="contact_email" class="form-control">
                            </div>
                        </div>
                        
                        <div class="text-end">
                            <a href="{% url 'operations:alumni_list' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save Alumni</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}